/* 1. Use a more-intuitive box-sizing model.*/
*, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  html, body{
    text-align: center;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }

  /* Header */
header {
    background-color: #111720;
    padding: 30px;
}

h1 {
    font-size: 48px;
    color: #fac650;
}

/* Main */
main {
    background-color: #222831;
    color: #ddd;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    align-content: center;
}

/* Section Results */
.result {
    margin-top: 10px;
}
h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}
/* Section player-choice */
.img-plchdr {
    padding: 45px;
    border-radius: 12px;
    background-color: #393e46;
    color: #ddd;
    margin-bottom: 25px;
}
.container-choices {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 100px;
    font-size: 32px;
    /* flex-wrap: wrap; */
    padding: 30px 30px 15px 30px;

}
.player-choice {
    padding: 30px;
}
.min-width {
    min-width: 160px;
}
.computer-choice {
    padding: 30px;
}
#choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    margin-top: 15px;
    gap: 100px;
}
button {
    min-width: 180px;
    padding: 45px;
    border-radius: 12px;
    background-color: #393e46;
    color: #ddd;
    font-size: 24px;
}
button:hover {
    background-color: #4a4f57;
    transform: scale(1.1);
}

/* Footer */
footer { 
    background-color: #222831;
    color: #ddd;
    height: 2.5rem;
    font-size: 24px;      
}
#restartGame{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
/* Media Queries */
@media only screen and (max-width: 615px) {
    .container-choices {
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        gap: 0px;
        padding: 0px;
    }
#choices {
        gap: 20px !important;
    }
}
@media only screen and (max-width: 445px) {
header {
    padding: 5px;
}
header h1{
    font-size: 28px;
}
.result {
    margin-top: 0px;
}
#outcome {
    font-size: 32px;
}
#outcomeExplained {
    font-size: 24px;
}
.container-choices{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0px;
    font-size: 24px;
}
.player-choice{
    padding: 0px;
    padding-right: 5%;
}
.computer-choice{
    padding: 0px;
}
.img-plchdr{
    padding: 15%;
    margin-bottom: 5%;
}
button {
    font-size: 24px;
    margin-top: 10%;
    padding: 7%;
}

}